body {
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: #f5f5f5
}

header {
  height: 100px;
}

.logo {
}

.logo-text {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.logo-text a {
  color: rgb(0,0,0,0.7);
  text-decoration: none;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 2px;
  display: inline-block;
  height: 100px;
  line-height: 100px;
}

.logo-text a:hover {
  color: rgb(0,0,0,0.5)
}
/*ヘッダー終了*/

/* メイン〜 */
.branch.main {
  height: auto;
}

.branch-contents {
  width: 80%;
  margin: 0 auto;
}

.diary {
  width: 70%;
  background-color: white;
  float: left;
  position: relative;
}

.diary-contents {
  width: 90%;
  margin: 0 auto;
}

.top-image img {
  width: 100%;
}

.diary-categorize a {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0;
  font-size: 13px;
  text-align: right;
  padding: 5px 10px 5px 0;
  text-decoration: none;
}

.diary-categorize a:hover {
  color: rgba(255,255,255,0.8);
}

.date {
  font-size: 12px;
}

.diary-title {
  font-weight: normal;
  margin-bottom: 50px;
}

.diary-text {
  font-size: 14px;
}

.diary-text p {
  padding-bottom: 30px;
}

.diary-text img {
  width:100%;
  margin: 0 auto;
}
/* 〜メイン */

/*サイド*/
.branch-side {
  width: 27%;
  float: right;
}

.profile {
  background-color: white;
}

.profile-title {
  background-color: black;
  color: white;
  font-size: 13px;
}

.profile-title p {
  padding: 13px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.profile-image {
  text-align: center;
}

.profile-contents img {
  width: 75%;
}

.profile-contents p {
  width: 85%;
  font-size: 12px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.search {
  background-color: white;
  margin-top: 30px;
}
/*サイド終了*/
